body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #f6f7f6;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Lato",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding-top: 5vh;
}

a {
  color: rgba(#333, 0.7);
  text-decoration: none;
  &:focus,
  &:hover {
    color: rgba(#f27126, 0.6);
  }
}

main {
  display: grid;
  grid-template-areas: "main";
  grid-column-start: 2;
  grid-column-end: 3;
}

footer {
  display: grid;
  grid-template-areas: "footer footer footer";
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f6f7f6;
  color: #333;
  text-align: left;
  padding: 1rem 1rem 1rem 1rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, auto));
  grid-column-start: 2;
  grid-column-end: 4;
  list-style-type: none;
}

.nav {
  display: grid;
  grid-area: 1/2/2;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(233, 158, 18);
  position: fixed;
  padding: 0 0 0 1rem;
  top: 0;
  left: 0;
}