body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #f6f7f6;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Lato",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding-top: 200px;
}

a {
  color: rgba(#333, 0.7);

  &:focus,
  &:hover {
    color: rgba(#f27126, 0.6);
  }
}

main {
  display: grid;
  grid-template-areas: "main";
  grid-column-start: 2;
  grid-column-end: 3;
}

footer {
  display: grid;
  grid-template-areas: "footer footer footer";
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f6f7f6;
  color: #333;
  text-align: left;
  padding: 1em 1em 1em 1em;
}

header {
  display: grid;
  grid-column-gap: 10px;
  grid-template-rows: 10px;
  font-family:"Oswald", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #f6f7f6;
  color: #333;
}

#header-fixed {
  width: 100%;
  padding: 1em 1em 1em 1em;
  position: fixed;
  top: 0;
}

#item1 {
  text-align: center;
}

.nav {
  display: grid;
  grid-auto-flow: column;
}

.nav > ul > li {
  display: inline;
}