body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  grid-template-rows: repeat(1, 1fr);
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #f6f7f6;
  color: #030303;
  font-family: -apple-system, BlinkMacSystemFont, "Lato",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  margin-top: 8vh;
}

a {
  color: rgba(#030303, 0.9);
  text-decoration: none;
  &:focus,
  &:hover {
    color: rgba(#cd5928 #D86A3B, 0.9);
  }
}

.nav a {
  color:#ffffff;
  text-decoration: none;
  &:focus,
  &:hover {
    color: rgba(#cd5928, 0.9);
  }
}

footer {
  display: grid;
  grid-template-areas: "footer footer footer";
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f6f7f6;
  color: #030303;
  text-align: left;
  padding: 1rem 1rem 1rem 1rem;
  margin-top: 5rem;
  border-top: 2px solid #030303;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-column-start: 2;
  grid-column-end: 4;
  list-style-type: none;
  padding: 1rem 1rem 0 0;
}

.nav {
  display: grid;
  grid-area: 1/2/2;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  background-color: #111111;
  position: fixed;
  padding: 0 0 0 1rem;
  top: 0;
  left: 0;
}

.logo {
  width: 70px;
  height: 70px;
  padding: 10px 0 10px 0;
}