---
title: footer
---

<body>

<p>We look forward to seeing you soon!</p>

<p>Located at
GateWay Community College
Washington Campus
Room MA 2108
108 N. 40th St,
Phoenix, AZ 85034</p>

<img>

<div class="footer">
  <p>Home</p>
  <p>About</p>
  <p>Calendar</p>
  <p>Projects</p>
  <p>Podcasts</p>
  <p>Contact</p>
</div>

</body>
</html> 