---
title: header
---

<body>

<h2>Come by and take a tour.</h2>
<p>Copyright © 2021-2024 TEC</p>

<div class="header" id="header-fixed">
  <p>Home</p>
  <p>About</p>
  <p>Calendar</p>
  <p>Projects</p>
  <p>Podcasts</p>
  <p>Contact</p>
</div>

</body>
</html> 