<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <header class="header" id="header-fixed">
    <nav class="nav">
      <h2>Advanced Cyber Systems Lab</h2>
      <div class="item1">
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Calendar</a>
        <a href="">Projects</a>
        <a href="">Podcasts</a>
        <a href="">Contact</a>
      </div>
    </nav>
  </header>
  <body class="body">
    <%= yield %>
  </body>
  <footer class="footer">
    <div>
    <p>We look forward to seeing you soon!</p>
    <p>Located at:<br>
    GateWay Community College<br>
    Washington Campus<br>
    Room MA 2108<br>
    108 N. 40th St,<br>
    Phoenix, AZ 85034</p>
    <p>Copyright © 2021-2024 TEC</p>
    </div>
    <div>
      <a href="">Home</a>
      <a href="">About</a>
      <a href="">Calendar</a>
      <a href="">Projects</a>
      <a href="">Podcasts</a>
      <a href="">Contact</a>
    </div>
  </footer>
</html>
