<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <header>
    <h2>Come by and take a tour.</h2>
    <p>Copyright © 2021-2024 TEC</p>
    <div class="header" id="header-fixed">
      <p>Home</p>
      <p>About</p>
      <p>Calendar</p>
      <p>Projects</p>
      <p>Podcasts</p>
      <p>Contact</p>
    </div>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer>
    <p>We look forward to seeing you soon!</p>
    <p>Located at
    GateWay Community College
    Washington Campus
    Room MA 2108
    108 N. 40th St,
    Phoenix, AZ 85034</p>
    <div class="footer">
      <p>Home</p>
      <p>About</p>
      <p>Calendar</p>
      <p>Projects</p>
      <p>Podcasts</p>
      <p>Contact</p>
    </div>
  </footer>
</html>
