---
title: What is AZACSL?
summary: Have a tech project you want to make a reality? Come learn at the Advanced Cyber Systems Lab.
---

<h1>
About Us
</h1>

<h2>
1. Promote Experimentation and Innovation in a Non-Production Setting
</h2>

<p>
Test and perfect on our systems so you can deploy better solutions in production.
</p>

<p>
Production systems should be secure, reliable and trustworthy. Businesses are thus not inclined to make 
radical changes to their systems, nor should they be.
</p>

<p>
Further, many educational institutions make the mistake of buying the most expensive systems possible. This 
inevitably leads to keeping students away from such systems for fear that they will break them. It's rather 
difficult learn on "off limits" systems.
</p>

<p>
Equipment and systems in the ACSL have been provided by egx.org specifically for such experimentation and 
testing. Attendees are heavily encouraged to roll up their sleeves, rack-up a server, install and OS and write 
the next great system on top of it.
</p>

<h2>
2. Advance the State of Secure, Reliable, and Trustworthy Systems
</h2>

<p>
When everything is connected, everything is critical infrastructure.
</p>

<p>
Critical systems are obviously necessary in medical, industrial, military, aviation, etc. Less obvious are the 
consequences of connecting systems together and how this increases attack surfaces and reduces damping and 
propagation times.
</p>

<p>
Global losses due to security incidents were $1.5 Trillion. What's lesser known is that losses due to 
defective and buggy software were $2 Trillion.
</p>

<p>
A rapid and widespread transition to High Assurance systems seems unlikely as such technologies have been 
around for decades. At the ACSL we work with attendees and businesses to find a reasonable path toward such 
systems.
</p>

<p>
Now that most businesses have become comfortable with Linux, we encourage the transition to better hardened 
and more rigorously designed systems like OpenBSD. It's a small step with important security advantages.
</p>