---
title: What is AZACSL?
summary: Have a tech project you want to make a reality? Come learn at the Advanced Cyber Systems Lab.
---

<h1>
About Us
</h1>

<h2>
1. Promote Experimentation and Innovation in a Non-Production Setting
</h2>

<p>
Learn the fundamentals of networking and programming in a beginner friendly environment. Test and perfect 
on our systems so you can deploy better solutions in production.
</p>

<p>
Production systems should be secure, reliable and trustworthy. However, there is still a gap in qualified 
technologists in the workforce. With a solid foundation in modern technology, new workers can help businesses 
maintain their legacy systems while helping to migrate to better are thus not inclined to make radical changes 
to their systems, nor should they be.
</p>

<p>
Further, many educational institutions make the mistake of buying the most expensive systems possible. This 
inevitably leads to keeping students away from such systems for fear that they will break them. It's rather 
difficult learn on "off limits" systems.
</p>

<p>
Equipment and systems in the ACSL have been provided by TEC specifically for allowing individuals to learn, 
teach others, experiment and test. Attendees are heavily encouraged to roll up their sleeves, rack-up a server, 
try out different operating systems, and continue a lifelong journey of discovery.
</p>

<h2>
2. Advance the State of Security, Reliablity, and Trustworthy Systems
</h2>

<p>
When everything is connected, everything is critical infrastructure.
</p>

<p>
Critical systems are obviously necessary in medical, industrial, military, aviation, etc. Less obvious are the 
consequences of connecting systems together and how this increases attack surfaces and reduces damping and 
propagation times.
</p>

<p>
Global losses due to security incidents were $1.5 Trillion. What's lesser known is that losses due to 
defective and buggy software were $2 Trillion.
</p>

<p>
A rapid and widespread transition to High Assurance systems seems unlikely as such technologies have been 
around for decades. At the ACSL we work with attendees and businesses to find a reasonable path toward such 
systems.
</p>

<p>
Now that most businesses have become comfortable with Linux, we encourage the transition to better hardened 
and more rigorously designed systems like OpenBSD. It's a small step with important security advantages.
</p>

<p>
3. Be a Hub for the Tech Community In Phoenix
</p>

<p>
Phoenix has a rapidly growing I.T. community and plenty to offer careerwise. However, there remains only a 
handful of places people can meet and discuss technology. The Advanced Cyber Systems Lab aims to be a central 
part to help bring different technical disiplines together. Whether you want to network with tech professionals 
to launch your career or collaborate on the next big idea in tech, AZACSL is the place to be.
</p>