---
title: Welcome to AZACSL
summary: The AZACSL is a computer lab at Gateway Community College that's open to the public.
---
<div>
<h1>
  Advanced Cyber Systems Lab
</h1>

  <p>The Advanced Cyber Systems Lab at Gateway Community College provides hands-on learning opportunities for 
  students and community members to grow increasingly competitive in the technology sector.</p>
  
  <p>Our goals are:</p>
    <ul>
      <li>To provide learners with the opportunity to explore IT topics that interest them in a hands-on environment.</li>
      <li>To help create opportunities for people to work side by side on interesting projects with experienced industry professionals.</li>
      <li>To allow folks the chance to try new things and sometimes or frequently make mistakes in a friendly environment.</li>
      <li>To actually move the bar regarding meaningful cybersecurity training and practice.</li>
      <li>To be part of moving Phoenix to the forefront of Information Technology, along with all the other folks doing good work out there.</li>
    </ul>
</div>