---
title: Our Featured Podcasts
summary: A comprehensive list of podcasts recorded in the lab's podcast studio.
---

<h1>
Our Featured Podcasts
</h1>

<p>One of the latest initiatives was to make a new podcast studio. The studio is open to the community and 
has already been used by several running podcasts. 
</p>

<p>To book your spot for using the podcast studio, please use the link below.</p>

<button>
<%= link_to("Book the Podcast Studio",
    "https://booking.techedcollab.org/admin/podcast-reservation?ref=techedcollab.org&duration=60&date=2024-07-16",
    target: "_blank"
    ) %>
</button>