---
title: Our Projects
summary: A comprehensive list of all AZACSL's projects.
---

<h1>
Our Projects
</h1>

<p>Computer Networking really starts to make sense when you have the chance to learn how things work hands-on. The ACSL 
has a half dozen Cisco routers and switches just waiting for you to jump in the chair and take on the role of Network 
Administrator. In the ACSL, you can also take things a step further and work with both Dell and HP servers, firewalls, 
VoIP, and other interesting equipment.</p>

<p>The ACSL is home to the <b>Secure Small Business Network</b>. This is a model network design for small businesses 
that is a significant improvement over frequently implemented designs based on residential equipment. The SSBN 
potentially offers better security, at an affordable price point and with good usability.</p>

<p>Documentation can be found on the project’s GitHub page, 
<a href="https://github.com/wyatt-johnson-git/ACSL/tree/main/Secure%20Small%20Business%20Network">Secure Small Business Network</a>.</p>

<p>The latest project, which was recently completed, is the addition of a Podcasting Studio. This will allow students and community 
members to start sharing their ideas with the world. You are welcome to schedule a time to come in, learn how the setup works, and 
launch your podcast.</p>

<p>The ACSL is also a good place to learn more about relevant uses for 3D Printing and then try your hand at actually making something 
useful. The lab’s 3D printers have been used to make some interesting projects including a mask for a touring theatre production, 
Gridfinity organizational system parts, and the frames for our cost-effective sound treatment panels.</p>

<p>Gateway Community College has the first <b>Right To Repair Hub</b> in the Valley at the ACSL. This is a place 
where both students and community members can come in and repair electronics such as smartphones and laptops. 
We do not do the repair work for people who visit but have a place set up where they can repair their own 
devices with support and learn more about technology and how it works in the process.</p>

<p>There are currently six antistatic bench/chair workspaces. Each workspace has its own computer for accessing 
online repair information and guides, such as the over 100,000 free manuals on <a href="https://www.ifixit.com/">iFixit’s website</a>. One workspace 
is specially set up for soldering repairs, as needed. PC-Doctor, a computer service center-level 
diagnostic tool, available for helping to find potential hardware issues. There is also a machine setup for 
wiping hard drives (ref. <a href="https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-88r1.pdf">NIST SP 800-88r1</a>) if you have a computer that you plan to give to a friend, donate, 
etc.</p>

<p>Gateway’s Advanced Cyber Systems Lab partnered up with iFixit to bring this space to life. iFixit generously 
helped provide some of the specialized tools that are needed for this kind of work. The <a href="https://www.techedcollab.org/">Technology Education 
Collaborative</a> an Arizona non-profit, is helping to assist with our running Right To Repair events, refreshments, 
and promoting the Right To Repair Hub in the Valley.</p>

<p>The Technology Education Collaborative hosts in-person and hybrid events that include:</p>

<ul>
  <li>Right to Repair information & advocacy events</li>
  <li>The Personal Privacy Improvement & Education meetup</li>
  <li>Technology demonstrations and hands-on education</li>
  <li>Tech community collaborations and projects</li>
</ul>